<h2>Create a book</h2>

<form action="/books/create" method="post">

  <label for="title-input">Title:</label>
  <br/>
  <input type="text" name="title" id="title-input" />
  <br/>
  <label for="author-input">Author:</label>
  <br/>
  <input type="text" name="author" id="author-input" />
   <br/>
  <label for="description-input">Description:</label>
  <br/>
  <textarea name="description" id="description-input" cols="30" rows="4"> </textarea>
   <br/>
  <label for="rate-input">Rate:</label>
  <br/>
  <input type="number" name="rating" id="rate-input" min="1" max="10" />
   <br/>
  <button type="submit">Create</button>

</form>