<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/styles.css" type="text/css" />
    <title>Demo Page</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/about">About page</a></li>
        <li><a href="/dogs">Random dogs facts page</a></li>
        <li><a href="/zoo">Random zoo facts page</a></li>
      </ul>
    </nav>
    {{! This line allows the layout to wrap all the other pages }}
    {{{body}}}
    <footer>Made by Ironhack</footer>
    <script src="./javascripts/index.js" type="text/javascript"></script>
  </body>
</html>